@font-face {
    font-family: 'Young Serif';
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--grey-900);
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}

:root {
    /* Colors */
  --rose-800: #7A284E;
  --rose-50: #FFF7FB;
  --stone-900: #312E2C;
  --stone-600: #5F564D;
  --stone-150: #E3DDD7;
  --stone-100: #F3E5D7;
  --brown-800: #854632;
  --white: #FFFFFF;
  --black: #111;
  
  /* Text Preset 1 */
  --text-preset-1-size: 4rem; 
  --text-preset-1-line-height: 1;
  --text-preset-1-font-weight: 400;
  --text-preset-1-letter-spacing: 0rem;

  /* Text Preset 2 */
  --text-preset-2-size: 2.8rem;
  --text-preset-2-line-height: 1;
  --text-preset-2-font-weight: 400;
  --text-preset-2-letter-spacing: 0rem;

  /* Text Preset 3 */
  --text-preset-3-size: 2rem;
  --text-preset-3-line-height: 1;
  --text-preset-3-font-weight: 600;
  --text-preset-3-letter-spacing: 0rem;

  /* Text Preset 4 */
  --text-preset-4-size: 1.6rem;
  --text-preset-4-line-height: 1.5;
  --text-preset-4-font-weight: 400;
  --text-preset-4-letter-spacing: 0rem;

  /* Text Preset 5 */
  --text-preset-5-size: 1.6rem;
  --text-preset-5-line-height: 1.5;
  --text-preset-5-font-weight: 700;
  --text-preset-5-letter-spacing: 0rem;
  
  /* Spacing */
  --Spacing-1600: 128px;
  --Spacing-600: 48px;
  --Spacing-500: 40px;
  --Spacing-300: 24px;
  --Spacing-200: 16px;
  --Spacing-150: 12px;
  --Spacing-100: 8px;
}

